.hide {
	display: none;
}

.searchBtn {
	background-color: #89d6d9;
	margin-left: 4px;
}

.searchInput{
	display: block;
	padding: .375rem .75rem;
	
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	/*transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;*/
}

.searchBtn:hover {
	background-color: #5fb4b8;
}

.searchLogo{
	margin-bottom:2%;
	margin-top: 2%;
	
}


.searchContainer{
	padding-bottom: 25%;
	padding-top: 15%; 
}